<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Shop Item - Start Bootstrap Template</title>

    {% block stylesheets %}
        {% stylesheets
        '@AppBundle/Resources/public/css/bootstrap.min.css'
        '@AppBundle/Resources/public/css/style.css'
        '@AppBundle/Resources/public/css/jquery-confirm.css'
        %}

        <link rel="stylesheet" href="{{ asset_url }}"  />

        {%  endstylesheets %}
    {% endblock %}


</head>

<body>

{% include 'navbar.html.twig' %}

<!-- Page Content -->
<div class="container">

    <div class="row">

        <div class="col-md-3">
            <p class="lead">Shop Name</p>
            <div class="list-group">
                {#mano atliktų užsakymų sąrašas (turbūt bus visa užsakymų istorija)#}
                <a href="#" class="list-group-item">Mano užsakymai</a>
                {#čia atsiras užsakymai vienai dienai, tų knygų, kurių laukei eilėje#}
                <a href="#" class="list-group-item">Mano rezervacijos</a>
                <a href="https://img1.etsystatic.com/043/0/7345444/il_fullxfull.627295397_slwh.jpg" class="list-group-item">Martyno Batai</a>
            </div>
        </div>

        <div class="col-md-9">
            {% if app.session.flashBag.has('success') %}
                <div class="alert alert-success text-center">
                    {% for msg in app.session.flashBag.get('success') %}
                        {{ msg }}
                    {% endfor %}
                </div>
            {% endif %}
            {% if app.session.flashBag.has('error') %}
                {% for msg in app.session.flashBag.get('error') %}
                    <div class="alert alert-warning text-center">
                        {{ msg }}
                    </div>
                {% endfor %}
            {% endif %}

            {% block body %}{% endblock %}

        </div>

    </div>

</div>
<!-- /.container -->

<div class="container">

    <hr>
    {% include 'footer.html.twig' %}
    <!-- Footer -->


</div>
<!-- /.container -->


{% block javascripts %}
  {% javascripts
    '@AppBundle/Resources/public/js/jquery.min.js'
    '@AppBundle/Resources/public/js/bootstrap.min.js'
    '@AppBundle/Resources/public/js/jquery-confirm.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

</body>

</html>
