<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Shop Item - Start Bootstrap Template</title>

    {% block stylesheets  %}
        {% stylesheets
        '@AppBundle/Resources/public/css/bootstrap.min.css'
        '@AppBundle/Resources/public/css/style.css' %}

        <link rel="stylesheet" href="{{ asset_url }}"/>

        {% endstylesheets %}
    {% endblock %}


</head>

<body>

<!-- Page Content -->
<div class="container">

    <div class="row">
        {% block body %}{% endblock %}
    </div>

</div>


<!-- /.container -->

<div class="footer">

    <hr>
    {% include 'footer.html.twig' %}
    <!-- Footer -->


</div>
<!-- /.container -->


{% block javascripts %}
    {% javascripts
    '@AppBundle/Resources/public/js/jquery.min.js'
    '@AppBundle/Resources/public/js/bootstrap.min.js'
     %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

</body>

</html>
